<div class="dashboard-timer-line" id="<%= timer_id || 'dashboardLiveTimer' %>" role="timer" aria-label="Meal preparation timer">
  <span class="timer-line-text">
    <%= time_left || '03:45' %> Until Prep 06:30pm
  </span>
</div>
